/*__        __          _                */
/*\ \      / /_ _ _   _| |__   __ _ _ __ */
/* \ \ /\ / / _` | | | | '_ \ / _` | '__|*/
/*  \ V  V / (_| | |_| | |_) | (_| | |   */
/*   \_/\_/ \__,_|\__, |_.__/ \__,_|_|   */
/*                |___/                  */
/**/
/*Author: Aaron Gobeyn*/
/*Date: August 17th 2024*/
/*Documentation: https://github.com/Alexays/Waybar*/

/*Direct filepath to Pywal colors */
@import url("file:///home/aaron/.cache/wal/colors-waybar.css");

/*General Settings*/

* {
  border: none;
  font-size: 10px;
  font-family: "DaddyTimeMono Nerd Font";
  min-height: 5px;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

window#waybar {
  background: transparent;
  margin: 5px;
}

window#waybar.empty #window {
  background-color: transparent;
}

/*Modules*/
.modules-left {
  padding-left: 2px;
  margin-top: 2px;
  background: transparent;
  border-radius: 5px 5px 5px 5px;
}
.modules-center {
  margin-top: 2px;
  background: transparent;
  border-radius: 5px 5px 5px 5px;
}
.modules-right {
  padding-right: 2px;
  margin-top: 2px;
  background: transparent;
}

#workspaces {
  background: @color1;
  border-radius: 5px 5px 5px 5px;
}

#workspaces button.active {
  border-radius: 5px 5px 5px 5px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: @background;
  background: @foreground;
}

/*Taskbar*/
#taskbar {
  border-radius: 5px 5px 5px 5px;
  margin-left: 10px;
  padding-left: 2px;
  padding-right: 2px;
  background: @color4;
}

#taskbar.empty {
  background: transparent;
}

#taskbar button.active {
  border-radius: 5px 5px 5px 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  background: @foreground;
  color: @background;
}

/*MPRIS*/
#mpris {
  font-size: 8;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background: @color5;
  color: @background;
  border-radius: 5px 5px 5px 5px;
}

/*First Arrow*/
#custom-arrow1 {
  font-size: 16pt;
  background: transparent;
  color: @foreground;
}

/*Clock*/
#clock {
  background: @foreground;
  border-radius: 1px 1px 1px 1px;
  padding-left: 2px;
  padding-right: 2px;
}

/*Second Arrow*/
#custom-arrow2 {
  font-size: 16pt;
  background: transparent;
  color: @foreground;
}

/*Temperature*/
#temperature {
  color: @background;
  background: @color4;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
}

/*Pulseaudio*/
#pulseaudio {
  color: @background;
  background: @color4;
  padding-right: 10px;
}

#pulseaudio-slider {
  background: @color4;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 1px;
  min-width: 50px;
  border-radius: 5px;
  background-color: @foreground;
}
#pulseaudio-slider highlight {
  min-width: 1px;
  border-radius: 5px;
  background-color: @color3;
}

/*Network*/
#network {
  color: @background;
  background: @color4;
  padding-right: 10px;
}

/*Battery*/
#battery {
  margin-right: 10px;
  padding-right: 5px;
  border-radius: 0 5px 5px 0;
  color: @background;
  background: @color4;
}

/*Updates*/
#custom-updates {
  color: @background;
  background: @color1;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
  padding-right: 15px;
}

#custom-update.green {
  color: #228b22;
}

#custom-updates.yellow {
  color: #ffea00;
}

#custom-updates.red {
  color: #d22b2b;
}

/*Logout*/
#custom-logout {
  font-size: 12pt;
  color: #d22b2b;
  background: @color1;
  padding-right: 10px;
  border-radius: 0 5px 5px 0;
}
